LibraryServer/myfiles/validaRecordXML.xsd

<?xml version="1.0"  encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Evento">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ipClient" type="xs:string"/>
				<xs:element name="nomeApp" type="xs:string"/>
				<xs:element name="currentTs" type="xs:string"/>
				<xs:element name="label" type="xs:string"/>		
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
</xs:schema>
